@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;

}
*{
    padding :0;
    margin:0;
    box-sizing:border-box;
}
.img{
    width :100px;
    border-radius:20px;
    margin-bottom:20px;

}
h2{
    font-size:36px;
    font-weight:900;
}

.border {
    width:120px ;
    height:3px;
    background-color:red;
    margin:15px 0 30px;
}

.testimonials {
    flex-direction: column;
    display: flex;
    align-content:center;
    align-items:center;
    padding :20px ;
    margin:20px 10px ;

}
.row{
    display:flex;
    margin:10px ;
    justify-content:center;
    align-content:center;

}
.col{
    background-color:whitesmoke;
    margin:0 1rem ;
    padding :50px 20px ;
    border-radius:10px;
    box-shadow:2px 2px 5px;

}
a {
    margin-top: 10px;
    color: blue;
}
p{
    padding:5px;
    line-height:1em;

}